
#mainBox{
    position: absolute;
    width:80vw;
    height:70vh;
    top: 20vh;
    left: 10vw;
    display:flex;
    flex-direction: column;
}

#titleDiv{
    display: flex;
    justify-content: center;
    font-family: 'LemonJelly',sans-serif;
    font-size: 3.5em;
}
#title{
    padding:1vw;
    background: rgba(255, 255, 255, 0.753);
}

#tripButtonDiv{
    display:flex;
    justify-content: space-between;
    font-family: 'LemonJelly',sans-serif;
    font-size: 2.5em;
}

#tripButtonDiv p{
    padding:1vw;
    
    margin-bottom: 1vh;
    border-radius: 8%;
    background: rgba(255, 255, 255, 0.753);
    cursor: pointer;
}
#tripButtonDiv p:hover{
    background: rgba(255, 255, 255, 0.75);
    color: rgb(65, 65, 65);
}
#findAndCreateDiv{
    display:flex;
    
}
#findAndCreateDiv p{
    margin-left:1vw;
}



#tripBox{
    background: rgba(255, 255, 255, 0.753);
    height:80vh;
}
#tripBoxEntries{
    display:flex;
    justify-content: space-around;
    
}

.tripEntry{
    display:flex;
    justify-content: space-around;
}
.tripEntry p{
    font-size: 2vw;
}
.tripDiv p{
    font-size: 1vw;
}
.headerTitle{
    font-size: 1.5vw;
    margin-top: 5px;
    margin-bottom: 10px;
}